header
	max-width: 1050px
	margin 0 auto
	padding 100px 0 0 0
#you
	float left
	background url('../../img/suit.png') no-repeat
	width 258px
	height 385px
	margin 250px 0 0 90px
	animation: you infinite linear 2s
#planets
	float right
	background url('../../img/planets.png') no-repeat center bottom
	width 586px
	height 484px
	margin 0 50px 0 0

#header2
	max-width: 1050px
	margin 0 auto
	padding 0px 0 0 0

#planets2
	background url('../../img/planets.png') no-repeat center bottom
	width 586px
	height 484px
	margin 10px auto 1em auto;
	padding: 150px 0 0 0;


#planets3
	background url('../../img/planets.png') no-repeat center bottom
	width 586px
	height 484px
	margin 1em auto
	padding: 150px 0 0 0;

	#logo
		margin-top 0px
		display block
#logo2
	background url('../../img/logo.png') no-repeat 0 50px
	width 172px
	height 160px
	margin: 0px auto;
	animation: logo infinite ease-in-out 3s
	display block

#logo
	background url('../../img/logo.png') no-repeat 0 50px
	width 172px
	height 160px
	margin 150px 0 0 180px
	animation: logo infinite ease-in-out 3s

a#join
	width 331px
	height 89px
	background url('../../img/vote.png') no-repeat 0 0
	display block
	margin 60px 0 0 130px
	&:hover
		background-position: 0 -89px

a#join2
	width 331px
	height 89px
	background url('../../img/vote.png') no-repeat 0 0
	display block
	margin  0 auto
	&:hover
		background-position: 0 -89px
