#nominations
	margin 4em 0
	z-index 10;
	.nonnom
		display block;
		text-align center
		li
			display inline-block;
			height: 78px;
			width 310px
			background-position: center center;
			background-size: contain;
			background-repeat: no-repeat;
			margin 0 26px
			z-index 10;
			position relative

		.sga1
			background-image url('../../img/nomination_audio_sga.png');
		.sga2
			background-image url('../../img/nomination_gameoftheyear_sga.png');
		.sga3
			background-image url('../../img/nomination_tech_sga.png');