
aside.press
	padding 2em 5em
	text-align center
	width 100%
	margin: 3em 0em
	box-shadow:0 0 0 1px black,0 0 0 5px #373450,0 0 0 6px black
	background c5
	position: relative;
	z-index: 5;
	h2
		color c4
	ul
		margin 0 0 2em 0
		display block
		li
			display inline-block
			a
				display inline-block
				padding 0.2em 0.5em 0.5em 0
				opacity 0.8;
				&:hover
					opacity 1;
		li.active a
			color c4 !important
			opacity 1;

.quotemachine
	margin: 2em;
	a
		h3
			font-size: 32px;
			line-height: 40px;
			color c3
			display: inline-block;
			transition all linear 200ms
			span
				color c4
		.lang
			font-size 16px
			color c4
			margin-top: 5px;
			opacity 0.5
		&:hover
			h3
				color c4
				span
					color c2
