article#soundtrack
	margin: 0 0 0em 0;
	text center
	padding 0 0 1em 0
	iframe
		width: 80%
		display block
		box-shadow:0 0 0 1px black,0 0 0 5px #507d8f,0 0 0 6px black
		border-radius: 2px;
		height 100px
		margin 0 auto 1em auto
		max-width: 680px;

	a.soundtrack-buy
		display inline-block
		background #330333
		padding 0.5em
		color #fff
		margin 0 20px
		border solid 1px #000
		box-shadow:0 0 0 1px black,0 0 0 5px #507d8f,0 0 0 6px black
		border-radius: 2px;
		transition all linear 250ms

		&:hover
			background darken(#507d8f,50%)
			box-shadow:0 0 0 1px black,0 0 0 5px darken(#507d8f,20%),0 0 0 6px black;
