#video
	background url('../../img/video.png') no-repeat
	width 475px
	height 444px
	position absolute
	margin -88px 0 0 -40px

#player1
	margin 39px 0 0 11px;
#player2
	float: left;
	display: block;
	margin: 34px 0 0 35px;
#player3
	float: left;
	display: block;
	margin: 34px 0 0 23px;
#player4
	float: left;
	display: block;
	margin: 34px 0 0 23px;

a
	.playbutton
		opacity: 0.2
	&:hover
		.playbutton
			opacity 1;


.playbutton
	z-index: 99
	display block
	width 48px
	height 48px
	background url(../img/play.png)
	position absolute

	transition linear 150ms all


#play1
	margin: -130px 0 0 220px;
#play2
	margin: 60px 0 0 75px;
#play3
	margin: 60px 0 0 220px;
#play4
	margin: 60px 0 0 368px;
/*
.bigplayer
	display block
	position absolute
	z-index: 999

	iframe
		width 640px
		height 390px
.bigplayer.hidden
	display none
*/

#bigplayer.hidden
	display none
#bigplayer
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1050;
#overlay
	background-color: rgba(0,0,0,.5);
	height: 100%;
	width: 100%;
	z-index: 1040;
	cursor: pointer
#content
	margin-left: -569px;
	margin-top: -320px;
	height: 640px;
	width: 1138px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1050;
	box-shadow:0 0 0 1px black,0 0 0 5px #373450,0 0 0 6px black
	background c5
	iframe
		height: 640px;
		width: 1138px;

@media (max-width: 1240px)
	#content
		height: 475px !important;
		margin-left: -400px !important;
		margin-top: -320px !important;
		width: 800px !important;
	#content iframe
		height: 475px !important;
		width: 800px !important;

@media (max-width: 768px)
	#content
		height: 432px !important;
		margin-left: -384px !important;
		margin-top: -320px !important;
		width: 768px !important;
	#content iframe
		height: 432px !important;
		width: 768px !important;