article#chapters
	h1 Chapters
	p Each chapter has unique gameplay and a unique set of Diary Pods. Chapter 3 is set in a new universe!
	h1
	h1


	ul
		li
			.title Chapter 1
			.box#chap1
			.title Hope
			.content
				p Is there any hope? Search. 
		li
			.title Chapter 2
			.box#chap2
			.title A New Home
			.content
				p A new beginning! Gather. 
		li
			.title Chapter 3
			.box#chap3
			.title Nether space
			.content
				p Can you survive? Explore. 
		.clear