aside#facebook2
	#help-us Support RymdResa with a Like!
	#fb-root
	script
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/sv_SE/all.js#xfbml=1&appId=300506650077692";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));

	.fb-like(data-href='http://rymdresa.morgondag.nu', data-width='120', data-colorscheme='dark', data-layout='button_count', data-show-faces='false', data-send='false')
