aside#facebook
	#help-us Support RymdResa with a Like!
	#fb-root
	.fb-like(data-href='http://rymdresa.morgondag.nu', data-width='120', data-colorscheme='dark', data-layout='button_count', data-show-faces='false', data-send='false')
