article#features
	ul
		li
			.icons#icon1
			.title Procedural<br>World
			.tooltip The world is infinitive and different every time you play, with over 300 different  objects to discover and explore; like planets, stars and spaceships.

		li
			.icons#icon2
			.title Randomized<br>Loot
			.tooltip There is a large amount of different item types you can find to enhance your ship. These are randomized. Try to get legendary items!
		li
			.icons#icon3
			.title Solitude<br>Of Space
			.tooltip The universe is lonely, open and unforgiving. But that doesn't mean it isn't peaceful, a place for relaxation and beauty.
		li
			.icons#icon4
			.title Ship<br>Customization
			.tooltip There are 8 ships in RymdResa. Every ship has in total 8 item slots, whereof 2 are unlockable. You can find different styles, auras, engines and other improvements.
		li
			.icons#icon5
			.title Beautiful<br>Art
			.tooltip Explore and enjoy a big set of visuals, crafted with RymdResa's art style; pixelart mixed with a posterized style combined with a strict color pallet.
		li
			.icons#icon6
			.title Original<br>Soundtrack
			.tooltip Every ship has a custom song enhancing the world around it. Envisioned by musicians <br> Tom Croke and Pat Jacobs.

		li
			.icons#icon7
			.title Upgrades
			.tooltip Discover a set of several different upgrades, like researches and different worlds enhancements; why not for example unlock the shield as an item type or see moons in space?
		li
			.icons#icon8
			.title Voiced<br>Story
			.tooltip A poetic voice log from the pilot describing a great loss, hirs thoughts and feelings. Abstract fragments discussing hirs past, present and future.
		li
			.icons#icon9
			.title Non<br>Violent
			.tooltip Not another space shooter, with laser-beams and exploding aliens. In RymdResa the gameplay is peaceful, passive and relaxing.
		li
			.icons#icon10
			.title Poetic<br>Experience
			.tooltip Love, poetry, peace and art.
		.clear