footer
	#earth
	a#morgondaglogo(href="http://morgondag.nu", title="Developed by Morgondag")
		span Developed by
		#morgondag-logo

	aside#credits
		span Credits

		.awesome-people
			.left
				span Created by:
			.right
				p Vendela Carlberg Larsson
				p
					a(href="http://twitter.com/vemdel", title="Vendela Carlberg Larsson on Twitter") @vemdel
				p
					a(href="http://morgondag.nu", title="morgondag") morgondag.nu
				p
					br
				p Kim Gunnarsson
				p
					a(href="http://twitter.com/kim_gunnarsson", title="Kim Gunnarsson on Twitter") @kim_gunnarsson
				p
					a(href="http://morgondag.nu", title="morgondag") morgondag.nu
			.clear

		.awesome-people
			.left
				span Music & Sound
			.right
				p Tom Croke
				p
					a(href="http://twitter.com/tomcroke", title="Tom Croke on Twitter") @tomcroke
				p
					a(href="http://tomcrokemusic.com", title="tomcrokemusic.com") tomcrokemusic.com

				p
					br

				p Pat Jacobs
				p
					a(href="http://twitter.com/patjacobsmusic", title="Pat Jacobs on Twitter") @patjacobsmusic
				p
					a(href="http://patjacobsmusic.com", title="patjacobsmusic.com") patjacobsmusic.com


			.clear

		.awesome-people
			.left
				span Voice
			.right
				p
					a(href="mailto:reedel@knights.ucf.edu") Eric Reed
			.clear


#bigplayer.hidden
	#overlay
	#content
