article#gallery
	#slideshow-container
		ul#slideshow
			li
				img(src="img/slideshow/23.jpg")
			li
				img(src="img/slideshow/1.jpg", alt="Homebase", title="Homebase")
			li
				img(src="img/slideshow/2.jpg", alt="Spaceships", title="Spaceships")
			li
				img(src="img/slideshow/3.jpg", alt="Ship information screen", title="Ship information screen")
			li
				img(src="img/slideshow/5.jpg", alt="Stardust", title="Stardust")
			li
				img(src="img/slideshow/6.jpg", alt="Drifting UFO", title="Drifting UFO")
			li
				img(src="img/slideshow/7.jpg", alt="Inventory screen", title="Inventory screen")
			li
				img(src="img/slideshow/8.jpg", alt="Collecting and Discovering", title="Collecting and Discovering")
			li
				img(src="img/slideshow/9.jpg", alt="Skadi Purple aura at homebase", title="Skadi Purple aura at homebase")
			li
				img(src="img/slideshow/10.jpg", alt="Danger", title="Danger")
			li
				img(src="img/slideshow/11.jpg", alt="VoiceLog", title="VoiceLog")
			li
				img(src="img/slideshow/12.jpg", alt="Freedom", title="Freedom")
			li
				img(src="img/slideshow/13.jpg", alt="Investigating", title="Investigating")
			li
				img(src="img/slideshow/14.jpg", alt="Roaming though space", title="Roaming though space")
			li
				img(src="img/slideshow/15.jpg", alt="Planet and moons", title="Planet and moons")
			li
				img(src="img/slideshow/16.jpg", alt="Found a shield", title="Found a shield")
			li
				img(src="img/slideshow/17.jpg", alt="On the edge", title="On the edge")
			li
				img(src="img/slideshow/18.jpg", alt="Interactive quest", title="Interactive quest")
			li
				img(src="img/slideshow/19.jpg", alt="Protected item", title="Protected item")
			li
				img(src="img/slideshow/20.jpg", alt="spacejunk", title="spacejunk")
			li
				img(src="img/slideshow/21.jpg", alt="Rootless", title="Rootless")
			li
				img(src="img/slideshow/22.jpg", alt="special object", title="special object")
			li
				img(src="img/slideshow/23.jpg", alt="Experimental space", title="Experimental space")

.clear
