section#main
	article#info

		aside#left2
			h1 Buy RymdResa:
			p Buy The game directly from the developers:
			p Gumroad:
			p humblebundle widget.
			p Google checkout
			p paypay



		aside#right
			.maintext2
				h1 Retailers:
				h2 iPad:
				p appstore

				h2 WiiU:
				p nintendo eshop

				h2 PC/Mac/Linux:
				p steam
				p The Mac App Store
				p gamersgate
				p desura
				p greenmangaming
				p indiegamestand
				p macgamestore.com
				p gre



		.clear

	include facebook2

	include greenlight
