article#platform
	.title RymdResa is available on:

	ul
		li
			a(href="http://store.steampowered.com/app/269690")
				.icons#icon13
			.title Window
			.tooltip play now on <a href="http://store.steampowered.com/app/269690"> Steam for Win, Mac and Linux</a>
		li
			a(href="http://www.nintendo.com/games/gameGuide?download=download&age=18&page=1&view=grid&sort=&source=")
				.icons#icon14
			.title Mac
			.tooltip play now on <a href="http://store.steampowered.com/app/269690"> Steam for Win, Mac and Linux</a>

		li
			a(href="http://www.nintendo.com/games/gameGuide?download=download&age=18&page=1&view=grid&sort=&source=")
				.icons#icon12
			.title Linux
			.tooltip play now on <a href="http://store.steampowered.com/app/269690"> Steam for Win, Mac and Linux</a>
		li
			a(href="http://tflig.ht/17xeeun")
				.icons#icon11
			.title Play now on Steam
			.tooltip play now on <a href="http://store.steampowered.com/app/269690"> Steam for Win, Mac and Linux</a>


	#astroid
.clear
