aside.press
	include quotemachine
	ul
		li
			a(target="_blank", href="http://www.rockpapershotgun.com/2015/07/27/rymdresa-hands-on/", title="RymdResa on Rock, Paper, Shotgun") Rock, Paper, Shotgun
		li
			a(target="_blank", href="http://app-s.ru/news/novoe_video_rymdresa_cherez_tainstvennyj_kosmos_v_poiskakh_novogo_doma/2015-08-02-8611", title="RymdResa on App-s") App-s (Russian)
		li
			a(target="_blank", href="http://fanboydestroy.com/2015/07/30/rymdresa-hands-on-preview/", title="RymdResa on Fanboydestroy") Fanboydestroy
		li
			a(target="_blank", href="http://www.jeuxvideo.com/videos/436760/rymdresa-un-rpg-spatial-prometteur.htm", title="RymdResa on Jeuxvideo") Jeuxvideo (French)
		li
			a(target="_blank", href="http://indiegames.com/2015/07/embrace_the_loneliness_of_spac.html", title="RymdResa on Indiegames") Indiegames
		li
			a(target="_blank", href="http://www.northlandsquare.com/2015/07/rymdresa-sets-launch-date/", title="RymdResa on Indiegamemag") Indiegamemag
		li
			a(target="_blank", href="http://www.northlandsquare.com/2015/07/rymdresa-sets-launch-date/", title="RymdResa on The Square") The Square
		li
			a(target="_blank", href="http://www.gosu-tech.com/2015/07/22/rymdresa-release-date/", title="RymdResa on Gosu-Tech") Gosu-Tech
		li
			a(target="_blank", href="http://www.hardcoregamer.com/2015/07/21/rymdresa-aims-for-august-release-on-steam/159535/", title="RymdResa on HardcoreGamer") HardcoreGamer
		li
			a(target="_blank", href="http://www.fz.se/artiklar/nyheter/20150721/rymdresa-fran-svenska-morgondag-slapps-i-augusti", title="RymdResa on FZ") FZ (Swedish)
		li
			a(target="_blank", href="https://www.indiemag.fr/articles/rymdresa-cosmos-bientot-portee-main", title="RymdResa on indieMag") indieMag (French)
		li
			a(target="_blank", href="http://www.pocketgamer.co.uk/r/iPad/RymdResa/news.asp?c=66694", title="RymdResa on Pocketgamer") Pocketgamer
		li
			a(target="_blank", href="http://nakedgameplay.com/ynnews/news/view/embrace-the-loneliness-of-space-travel-with-rymdresa", title="RymdResa on Nakedgameplay") Nakedgameplay
		li
			a(target="_blank", href="http://www.4players.de/4players.php/spielinfonews/Allgemein/36942/2151134/RymdResa-Im_unendlichen_All_auf_der_Suche_nach_einer_neuen_Heimat.html", title="RymdResa on 4players") 4players (German)
		li
			a(target="_blank", href="http://www.bug.hr/master/vijesti/rymdresa-stize-kolovozu/145034.aspx", title="RymdResa on GameMaster") GameMaster(Kroatiska)
		li
			a(target="_blank", href="http://www.donanimhaber.com/cep-tel-yazilimlari/haberleri/RymdResa-iOS-platformunda-da-boy-gosterecek.htm", title="RymdResa on Donanimhaber") Donanimhaber (Turkish)
		li
			a(target="_blank", href="http://varvat.se/rymdresa-ett-svenskt-roguelike-i-rymden", title="RymdResa on Varvat") Varvat (Swedish)
		li
			a(target="_blank", href="https://voxludicus.wordpress.com/2015/08/02/preview-rymdresa/", title="RymdResa on Voxludicu") Voxludicu
		li
			a(target="_blank", href="http://www.polygon.com/2015/8/11/9133133/rymdresa-gameplay-video-roguelike-space-exploration", title="RymdResa on Polygon") Polygon
		li
			a(target="_blank", href="https://www.idlethumbs.net/idlethumbs/episodes/troll-clone-today", title="RymdResa on Idlethumbs") Idlethumbs
		li
			a(target="_blank", href="http://varvat.se/en-pratstund-med-personerna-bakom-rymdresa/#.Vcx6VvntlBc", title="RymdResa on Varvat") Varvat (Swedish)
		li
			a(target="_blank", href="http://indius.org/actualites/rymdresa-decollera-20-aout/", title="RymdResa on Indius") Indius (Italian)
		li
			a(target="_blank", href="http://gry.wm.pl/289246,Premiera-RymdResa-na-PC-iOS-i-konsole-juz-20-sieprnia.html#axzz3igzovJWa", title="RymdResa on GryWM") GryWM (Polish)
		li
			a(target="_blank", href="http://retromaniacmagazine.blogspot.se/2015/08/explora-el-cosmos-en-rymdresa-una.html", title="RymdResa on Retromaniac Magazine") Retromaniac Magazine (Spanish)
		li
			a(target="_blank", href="http://www.siliconera.com/2015/05/21/rymdresa-to-bring-eerie-poetic-space-exploration-to-wii-u-pc-and-ipad/", title="RymdResa on Siliconera") Siliconera
		li
			a(target="_blank", href="http://swedishstartupspace.com/2015/07/27/rymdresa-for-windows-and-ma/", title="RymdResa on Swedishstartupspace") Swedishstartupspace
		li
			a(target="_blank", href="http://www.bluesnews.com/s/163472/rymdresa-next-month", title="RymdResa on Bluesnews") Bluesnews
		li
			a(target="_blank", href="http://www.honestgamers.com/EmP/blog/posts/63439-first-impressions-%E2%80%93-rymdresa.html", title="RymdResa on Honestgamers") Honestgamers
		li
			a(target="_blank", href="http://kotaku.com/a-game-that-captures-the-majesty-of-space-1501227383", title="RymdResa on Kotaku") Kotaku
		li
			a(target="_blank", href="http://www.rockpapershotgun.com/2014/01/13/rymdresa-is-a-procedural-space-poetry-adventure/", title="RymdResa on Rock, Paper, Shotgun") Rock, Paper, Shotgun
		li
			a(target='_blank', href='http://www.gamezone.com/originals/2013/09/14/week-in-mobile-rymdresa-is-a-poetic-nonviolent-space-game-and-art-project', title="RymdResa on Gamezone") Gamezone
		li
			a(target='_blank', href='http://www.pocketgamer.co.uk/r/iPad/RymdResa/news.asp?c=53682', title="RymdResa on PocketGamer") PocketGamer
		li
			a(target='_blank', href='http://indiestatik.com/2014/01/06/rymdresa/', title="RymdResa on IndieStatik") IndieStatik
		li
			a(target='_blank', href='http://www.usgamer.net/articles/-screenshot-saturday-pretty-indie-things-to-keep-an-eye-on', title="RymdResa on USGamer") USGamer
		li
			a(href="http://www.northlandsquare.com/2014/01/profile-morgondag/", title="Morgond & RymdResa on The Square") The Square
		li
			a(target='_blank', href='http://www.vgnaut.com/trailer-rymdresa-new-home/', title="RymdResa on VGNaut") VGNaut
		li
			a(target='_blank', href='http://www.gameskinny.com/kaahk/rymdresa-loneliness-and-the-final-frontier', title="RymdResa on GameSkinny") GameSkinny
		li
			a(target='_blank', href='http://themittani.com/news/rymdresa', title="RymdResa on The Mittani") The Mittani

		li
			a(target='_blank', href='http://www.spacegamejunkie.com/featured/rymdresa-qa-adding-poetry-space-gaming/', title="RymdResa on SpaceGameJunkie") SpaceGameJunkie

		li
			a(target='_blank', href='http://www.gamingonlinux.com/articles/rymdresa-a-fancy-looking-procedurally-generated-space-odyssey.3049/', title="RymdResa on GamingOnLinux") GamingOnLinux

		li
			a(target='_blank', href="http://www.legenddiaries.com/features/steam-greenlight-rymdresa/", title="RymdResa on Legend Diaries") Legend Diaries

		li
			a(target='_blank', href='http://se.ign.com/news/6922/rymdresa-visar-sig-pa-steam-greenlight', title="RymdResa On IGN") IGN (Swedish)

		li
			a(target='_blank', href='http://blog.svd.se/spelbloggen/2014/01/07/en-svensk-rymdresa/', tile="Läs om RymdResa på SVD") SVD (Swedish)
		li
			a(target='_blank', href='http://indie-spel.se/svenskutvecklade-indiespelet-rymdresa-soker-betatestare/', title="RymdResa on Indie-Spel") Indie-spel.se (Swedish)
		li
			a(href="http://www.indievault.it/2013/10/18/rymdresa-nello-spazio-qualcuno-puo-sentirti/",  title=" RymdResa on IndieVault") IndieVault (Italian)

		li
			a(href="http://indius.org/rymdresa/", title="RymdResa on Indius") Indius (French)

		li
			a(href="http://www.elpixelilustre.com/2014/01/rymdresa-un-paseito-por-el-espacio.html", title="RymdResa on El píxel ilustre") El pixel ilustre (Spanish)

		li
			a(target="_blank", href="http://www.gamesajare.com/rymdresa/", title="RymdResa on GameSajare") gamesajare.com (Spanish)

		li
			a(target="_blank", href="http://www.alfabetajuega.com/noticia/rymdresa-el-juego-espacial-que-te-invita-a-explorar-los-confines-del-universo-n-33846", title="RymdResa on Alfa Beta Juega") Alfa Beta Juega (Spanish)

		li
			a(target='_blank', href='http://www.gamebolds.de/spielenews/indiegames/rymdresa-indie-weltraumabenteuer-sucht-betatester-ios/17400', title="RymdResa on gamebolds") Gamebolds (German)
		li
			a(target='_blank', href='http://appstudio.org/reviews/rymdresa.html', title="RymdResa on Appstudio") Appstudio.org (Russian)
		li
			a(target='_blank', href='http://app-s.ru/news/rymdresa_v_poiskakh_novogo_doma/2013-09-16-4698', title="RymdResa on app-s") App-s.ru (Russian)

		li
			a(target='_blank', href='http://www.cdaction.pl/news-36511/nieskonczona-eksploracja-kosmosu-w-rymdresa-wideo.html', title="RymdResa on CDAction") CDAction (Polish)

		li
			a(target='_blank', href='http://www.gamespark.jp/article/2014/01/14/45678.html', title="RymdResa on GameSpark") gamespark.jp (Japanese)

		li
			a(target='_blank', href='http://www.nextn.es/2015/05/rymdresa-llegara-a-wii-u/', title="RymdResa on nextn.net") nextn.net (Spanish)

		li
			a(target='_blank', href='http://wiiudaily.com/2015/05/a-new-space-exploration-game-called-rymdresa-is-coming-to-wii-u/?utm_campaign=Contact+SNS+For+More+Referrer&utm_medium=twitter&utm_source=snsanalytics', title="RymdResa on WiiUDaily") WiiUDaily

		li
			a(target='_blank', href='http://mynintendonews.com/2015/05/22/space-exploration-game-rymdresa-is-in-development-for-wii-u/', title="RymdResa on MyNintendoNews") MyNintendoNews

		li
			a(target='_blank', href='http://www.nintendolife.com/news/2015/05/rymdresa_looks_like_an_intriguing_pixelated_space_odyssey', title="RymdResa on NintendoLife") NintendoLife

		li
			a(target='_blank', href='http://www.stratege.ru/wiiu/games/rymdresa/article/52747?utm_source=dlvr.it&utm_medium=twitter', title="RymdResa on stratege.ru") stratege.ru (Russian)

		li
			a(target='_blank', href='http://www.wiiuniverse.fr/breve-rymdresa-lexploration-spatiale-depuis-la-wii-u/', title="RymdResa on WiiUniverse") WiiUniverse (French)

		li
			a(target='_blank', href='http://www.gamevicio.com/i/noticias/213/213464-rymdresa-jogo-de-exploracao-espacial-e-anunciado-para-o-wii-u/index.html?utm_source=dlvr.it&utm_medium=twitter', title="RymdResa on GameVicio") GameVicio (Portuguese)

		li
			a(target='_blank', href='http://www.acasadocogumelo.com/2015/05/rymdresa-jogo-de-exploracao-espacial-e.html', title="RymdResa on acasadocogumelo.com") acasadocogumelo.com (Portuguese)

		li
			a(target='_blank', href='http://www.nintendon.it/rymdresa-unavventura-spaziale-arrivo-su-wii/', title="RymdResa on Nintendon") Nintendon (Italian)
		li
			a(target='_blank', href='http://gonintendo.com/stories/233981-rymdresa-coming-to-wii-u', title="RymdResa on GoNintendo") GoNintendo
	.clear