article#presskit
	.nova

	.meta
		h2 Presskit
		p
			a(href="./presskit") Contact us for any press inquires or questions regarding RymdResa or Morgondag.
		p
			br
		p Download the presskit for RymdResa!
		p
			br
		p We are a Swedish couple making games together ;-)
		a.btn(href="https://drive.google.com/folderview?id=0B8mO_Om0uF33flZBMlQyUm1CcUwxR0ZyMlRjT3drMkpfcXRCc0h4REtBSDEyQ0tCWmFNVms&usp=sharing", title="Download RymdResa presskit") <span class="white">{[ </span>Presskit<span class="white"> ]}</span>
