.quotemachine
	p Read about RymdResa on:
	a(href="http://kotaku.com/a-game-that-captures-the-majesty-of-space-1501227383", target="_blank", title="Read about RymdResa")
		h3 <span>{[ </span>Kotaku<span> ]}</span>
		.lang English