article#signup
	.title Subscribe to recive news and updates about Morgondag's games.
	form#signup(method='post', action='http://send.morgondag.nu/subscribe', acceptCharset='utf-8')
		#ufo
		input(type='email', placeholder='type your email', name="email", required, id="signup-mail")
		input(type='hidden', name='list', defaultValue='XgSgS5WieFsaj5aMSyZoKQ', value='XgSgS5WieFsaj5aMSyZoKQ')
		input(type='submit', value='Sign Up Now')
	.clear
.clear

ul#social
	li
		a(href="http://steamcommunity.com/sharedfiles/filedetails/?id=214106532", title="RymdResa on Steam") Steam
	li
		a(href="http://indiedb.com/games/rymdresa", title="Follow The development of Rymdresa") IndieDB
	li
		a(href="http://facebook.com/morgondag", title="Follow Morgondag on Facebook") Facebook
	li
		a(href="http://twitter.com/rymdresa", title="Rymdresa on Twitter") Twitter
	li
		a(href="http://morgondag.nu/", title="Visit Morgondag") Morgondag
	li
		a(href="https://www.patreon.com/morgondag", title="Patreon") Patreon
	li
		a(href="mailto:vendela@morgondag.nu", title="Contact Morgondag") Contact us
.clear
