article#soundtrack
	.title Support our musicians buy the soundtrack

	iframe(style="border: 0; width: 90%; height: 120px; max-width: 680px", src="http://bandcamp.com/EmbeddedPlayer/album=3584953669/size=large/bgcol=ffffff/linkcol=330333/tracklist=false/artwork=small/transparent=true/", scrolling="no", frameborder="no", seamless)

	a.soundtrack-buy(title="Buy RymdResa Original Soundtrack", href="https://gumroad.com/l/SSVD") Gumroad
	a.soundtrack-buy(title="Buy RymdResa Original Soundtrack", href="http://rymdresasoundtrack.bandcamp.com/album/rymdresa-the-original-soundtrack")  Bandcamp
	.clear
.clear
