
aside#video(href="http://www.youtube.com/embed/sJ5waWGYrx4")
	a(href="http://www.youtube.com/embed/sJ5waWGYrx4")
		video#player1(width="415", height="210", preload, autoplay, loop, poster="" href="http://www.youtube.com/embed/sJ5waWGYrx4")
			source(src="m/trailer.webm", type="video/webm")
			source(src="m/trailer.mp4", type="video/mp4")
			source(src="m/trailer.ogv", type="video/ogg")
		.playbutton(id="play1")
	a(href="http://www.youtube.com/embed/w4bdl38s_QA")
		video#player2(width="123", height="104", preload, autoplay, loop, poster="")
			source(src="m/home.webm", type="video/webm")
			source(src="m/home.mp4", type="video/mp4")
			source(src="m/home.ogv", type="video/ogg")
		.playbutton(id="play2")
	a(href="http://www.youtube.com/embed/YM9pvManAZg")
		video#player3(width="123", height="104", preload, autoplay, loop, poster="")
			source(src="m/gameplay.webm", type="video/webm")
			source(src="m/gameplay.mp4", type="video/mp4")
			source(src="m/gameplay.ogv", type="video/ogg")
		.playbutton(id="play3")
	a(href="http://www.youtube.com/embed/t9T_z8Fg0Mg", poster="")
		video#player4(width="123", height="104", preload, autoplay, loop)
			source(src="m/intro.webm", type="video/webm")
			source(src="m/intro.mp4", type="video/mp4")
			source(src="m/intro.ogv", type="video/ogg")
		.playbutton(id="play4")
