<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(property="og:url", content="http://rymdresa.com")
	meta(property="og:title", content="RymdResa")
	meta(property="og:image", content="http://rymdresa.com/img/slideshow/12.jpg")
	meta(property="og:description", content="A Procedurally Generade Space Odyssey")
	meta(property="og:type", content="website")
	meta(property="og:locale", content="en_US")
	meta(property="fb:admins", content="1455907808")
	meta(property="fb:admins", content="578723824")
	meta(property="og:video", content="http://youtube.com/v/UPEqkAmm_Go?version3&amp;autohide=1")
	meta(propterty="og:video:type", content="application/x-shockwave-flash")
	meta(property="og:video:width", content="398")
	meta(property="og:video:height", content="224")
	link(rel="shortcut icon", href="img/favicon.ico")
	link(rel="image_src" ,href="http://rymdresa.com/img/slideshow/12.jpg")
	meta(name="author", content="Morgondag")
	meta(name="description", content="Space is big, empty and silent. Your role as a spaceship pilot is unclear. You know a few coordinates to some random locations; but this is the only information you got.")
	meta(charset='utf-8')
	meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
	meta(name="viewport",content="initial-scale=1.0,width=device-width,user-scalable=no")
	meta(name="robots", content="index,follow")
	link(rel='alternative', type='application/rss+xml', title='Morgondag RSS feed', href="http://morgondag.nu/rss" )
	title RymdResa - A Procedurally Generated Space Odyssey
	// kim@morgondag.nu
	style
		include ../public/style/style.min.css
body(style="background-color:#2a2933")
	a#travel(href="#") hyperboost
	header
		#you(title="This is you")
		#planets
			#logo(title="RymdResa")
			a#join(href="http://store.steampowered.com/app/269690/", title="Play RymdResa on Steam!")
		.clear



	include sections/main

	include sections/footer


	script
		include ../public/js/app.min.js
