c1 = #330333 // purple
c2 = #ffe6a5 // yellow
c3 = #94b8ab // green
c4 = #507d8f // blue
c5 = #2a2933 // black
c6 = #f4f4f3 // white
c7 = #373450 // purple2
body
	margin-top 4em
	font-family helvetica
	font-size 18px
	line-height 24px
.content-edit
	max-width 960px
	margin 2em auto
	padding 4em
	text-align left
	background darken(c4,50%)
	font-size 18px
code
	display block
ul
	li
		font-size 20px
		font-weight bold
		border-bottom solid 2px c1
		padding 1em
		span
			display inline-block
			width 200px