footer
	#earth
		width 371px
		height 372px
		background url(../img/earth.png)
		margin 80px auto 0 auto

	a#morgondaglogo
		margin 100px auto !important
		font-size 22px
		text-align: center;
		display block !important
		span
			display block
			color c6
			margin 0 0 25px 0
		display block
		margin 0 auto
		width 200px
		#morgondag-logo
			display block
			margin 0 auto
			width 150px
			height 74px;
			background url(../img/morgondag.png)
