article#pilot
	margin 4em 0 4em 0
	padding 1em 0em 1em 1em
	text-align center
	h1
		margin: 0 0 0.5em 0;

	#xp
		box-shadow:0 0 0 1px black,0 0 0 5px #373450,0 0 0 6px black
		height 24px
		width 100%
		padding 5px 0 0 0
		width: 95%;
		margin: 0 auto;

		span
			display block
		span#lvl
			color #fff
		span#bar
			height 24px
			width 60%
			background c4
			margin -21px 0 0 0
			z-index 0

	.pilot-about
		margin 16px 0 0 0
		padding 1em 0

	#pilot-skills
	#pilot-stats
		display block
		float:left
		width 50%
		margin 1em 0 0 0
		border-top solid 2px rgba(0,0,0,0.2)
		min-height: 435px;

	#pilot-stats
		text-align left
		color c3
		line-height 20px
		p
			padding: 0.15em 0 0 2em
		p.active
			background rgba(0,0,0,0.1)
		.skillup-count
			display inline-block
			width 75px
		.skillup-title
			color c4
			text-transform capitalize
	#pilot-skills
		border-right solid 2px rgba(0,0,0,0.2)

	a#reset-skills
		display inline-block
		box-shadow:0 0 0 1px black,0 0 0 5px #373450,0 0 0 6px black
		padding 0.5em 0.2em
		text-align center
		cursor pointer
		color c2
		text-transform uppercase
		user-select none
		&:hover
			box-shadow:0 0 0 1px black,0 0 0 5px c4,0 0 0 6px black

	ul
		text-align center
		padding 2em 0 0 0

		li.skillpoints
			text-align left
			min-height: 50px;
			.count
				font-size 16px
				line-height: 12px;
				float:none
				color c2

		li
			display block
			width 100%
			min-height 85px
			.count
				float left
				width 40px
				height 30px
				padding 10px
				margin 0 12px 0 0
				font-size 24px
				line-height: 12px;
			.skill-title
				color c2
				line-height 22px
			.skill-icon
				user-select none
				cursor pointer
				float left
				width 30px
				height 30px
				line-height 30px
				text-align center
				box-shadow:0 0 0 1px black,0 0 0 5px #373450,0 0 0 6px black
				font-size 32px
				padding: 3px 0 0 4px;
				color c2
				&:hover
					box-shadow:0 0 0 1px black,0 0 0 5px c4,0 0 0 6px black
			.skill-info
				margin 0 0 0 20px
				float left
				text-align left