@media (max-width: 1315px)
	#astroid
		margin: -415px -10px 0 0;
@media (max-width: 1200px)
	#astroid
		margin: -415px 0px 0 0;

@media (max-width: 1200px)
	article#features .tooltip, article#platform .tooltip
		position absolute
		left: 50%;
		margin: -200px 0 0 -175px;
		height: auto
		border-bottom solid 1px c2
	a#travel
		position absolute

@media (max-width: 1170px)
	#astroid
		margin: -415px 30px 0 0;

@media (max-width: 1110px)
	#glow img
		animation: none
	#astroid
		display none
	#nominations
		margin: 3em 0 0 0
		.nonnom li
			width: 270px;
			height: 66px;
			margin: 0px 5px;

@media (max-width: 1035px)

	header
		max-width: 1050px;
		margin: 15px auto 100px auto;
		padding: 10px 0 0 0;
	#you
		display none

	#planets
		float none;
		margin: 0 auto;
		padding 130px 0 0 0;

	#logo
		margin 0 auto


@media (max-width: 1011px)
	.skill-desc
		max-width: 310px;

@media (max-width: 970px)

	#slideshow-container
		width: 760px;

@media (max-width: 950px)
	#glow
		display none
	header
		max-width: 1050px;
		margin: 15px auto 1em auto;
		padding: 10px 0 0 0;

	#video
		position relative
		margin: 0 auto 2em auto
	article#info
		box-shadow none
		background none
	#left
		display none
	#right
		padding 2em;
		margin 0;
		min-width 100%
		box-shadow: 0 0 0 1px #000,0 0 0 5px #373450,0 0 0 6px #000;
		background: #2a2933;
		height auto
		.maintext
			margin 0;
	.press
		box-shadow:0 0 0 1px black,0 0 0 5px #373450,0 0 0 6px black
		background c5
		padding-top 1em !important

	#facebook
		margin: 2em auto;
		width 100%
	.skill-desc
		max-width: 250px;


	article#presskit
		padding: 2em;

	aside.press
		padding: 0em 2em;

@media (max-width: 890px)

	article#news
		margin-top: 1em;

	#nominations .nonnom li
		width: 270px;
		height: 66px;
		margin: 0 5px 20px;

@media (max-width: 875px)
	.nova
		display none
	article#presskit
		margin: 2em 2em 1em 0;
		.meta
			padding: 0 0 0 0px;

@media (max-width: 850px)

	#ufo
		display none
	#slideshow-container
		height: 243px;

	#slideshow-container
		width: 550px;
		li
			width: 550px;

		img
			display block
			width: 550px;
			height auto

@media (max-width: 845px)
	article#chapters
		padding 1em 0em;
	article#chapters ul li
		margin 0
		width: 32%;
	article#chapters ul li .content
		text-align center

@media (max-width: 820px)
	footer #earth
		margin 2em auto

	#social
		margin 0 auto
		li
			margin 0.5em

@media (max-width: 770px)
	#pilot-skills
		width 40% !important
	article#pilot ul li .skill-info
		margin: 14px 0 16px 10px;
		float: left;
		text-align: left;
		padding-bottom 5px
	article#pilot #pilot-stats
		width 60% !important
		padding-top: 2em;
	article#pilot #pilot-stats p
		padding: .2em 0 0.2em 2em;

@media (max-width: 720px)

	article#news
		padding: 2em 2em;
	#pilot
		display none


@media (max-width: 640px)
	#slideshow-container
		width: 370px;
		li
			width: 370px;

		img
			display block
			width: 370px;
			height auto
	#slideshow-container
		height: 162px;

@media (max-width: 635px)
	#nominations .nonnom li
		width: 320px;
		height: 88px;
		margin: 0 5px 20px;


	article#features li, article#platform li
		display block
		text-align center
		width 100%
		border none
		&:hover
			border none
			color: #ffe6a5;
		.icons
			display block
			margin 0 auto
		.tooltip
			position relative
			display block
			background none
			margin 0em auto
			height auto
			width 100%
			padding 0
			line-height 18px
			text-align: left;
			box-shadow none !important
			left auto
			border none
	a#join
		margin 2em auto
	#planets
		background none
		width auto
		height auto
		margin 0 auto
		padding 0;

@media (max-width: 600px)
	.awesome-people .left
		float none
		text-align center
		width auto
		padding 0 0 1em 0
	.awesome-people .right
		float none

	.meta
		text-align: center;
		.btn
			display block
			margin: 25px 0px 0 0px;

@media (max-width: 510px)


	header
		margin 0
	#slideshow-container
		width: 320px;
		height 130px

		li
			width: 320px;

		img
			display block
			width: 320px;
			height auto
	#video
		background: none;
		width: 100%;
		margin: 2em auto;
		height auto
		box-shadow: 0 0 0 1px #000,0 0 0 5px #373450,0 0 0 6px #000;
		background: #2a2933;
		padding 1em 0
		overflow: hidden;
	#video a:nth-child(2),#video a:nth-child(3),#video a:nth-child(4)
		display none
	#player1
		margin: 0 auto;
	#play1
		margin: -130px 0 0 160px;
	#livefeed
		.pod
			display none

	article#news
		padding: 1em;
	article#news article
		padding: 0 1em 1em 80px;

@media (max-width: 480px)
	#chapters
		display none
	#player1
		display none
	#video a:nth-child(1)
		display block
		width 100%
		height 200px
		background url(../img/poster1.png) top center no-repeat
		margin 0 auto
	#livefeed .data .msg
		max-width 200px
	article#news h2
		font-size: 18px !important
@media (max-width: 479px)
	.press
		display none
@media (max-width: 425px)
	#signup-mail
		margin 0 auto 1em auto
		display block

	article#news article
		background none !important
		padding 0 0 10px 0


@media (max-width: 405px)
	header
		margin 0

	h1
		font-size: 28px;
	#gallery
		padding 0;
		margin 2em 0
	#slideshow-container
		width: 270px;
		height 115px

		li
			width: 270px;

		img
			display block
			width: 270px;
			height auto
	footer #earth
		display none

	#nominations
		margin: 0em 0 0 0
		.nonnom li
			width: 270px;
			height: 81px;
			margin: 0 5px 10px;

@media (max-width: 370px)

	a#join
		width auto
		border-left solid 1px c6
		border-right solid 1px c6
		background-position top center
		&:hover
			background-position top center
	.awesome-people
		font-size 18px

@media (max-width: 332px)
	.steam
		display none;
	#play1
		margin -130px 0 0 110px

	.old-news
		padding-left 5px
		background none