::-webkit-scrollbar {
    width: 16px;
    background: c5
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background: c5
}

::-webkit-scrollbar-thumb {
    background: c1
    -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: c1
}
