article#signup
	form#signup
		display block
		margin 1em 0

		input
			font-size 16px
			font-family '04b03regular'
			border none
			line-height 30px
			padding 0em 1.25em
			text-transform uppercase
			color c1
			transition all 250ms linear

		input[type="submit"]
			cursor pointer
			background c1
			color c2
			font-size 18px
			border-radius none
			-webkit-appearance: none;
			-webkit-border-radius:0;
			border-radius:0;

			&:hover
				background c4

	input[disabled="disabled"]
		opacity: 0.5;

#ufo
	background url('../img/ufo.png');
	width:114px
	height 53px
	display block
	position absolute
	margin -1em 0 0 5em
	transition all linear 500ms
#ufo.signed
	margin -1em 0 0 55em
