.splash-words
	  margin-top: 35px;
	margin-left -2em
	text-align center
	h2
		font-size 16px
	.btn
		margin 45px 0px 0 0px
	.experience
		text-align center
		font-size 24px
		text-transform uppercase
		transition all linear 500ms
		opacity 1;
		color c3
	.fade
		opacity 0