.tooltip
	width 339px;
	box-shadow:0 0 0 1px black,0 0 0 5px #373450,0 0 0 6px black
	background c5
	position absolute;
	display none;
	color c6
	padding: 20px 12px;
	z-index: 99
	margin: -210px 0 0 -67px;

article#platform .tooltip
	margin: -200px 0 0 -67px;